/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24/06/2022, 1:25:41 a. m.
    Author     : JHOJAN L
*/

.ancho-cards{
    width: 18rem
}
.footer{
    position: fixed;
    top:95%;
    left: 0;
    z-index: 9999;

}