/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24/06/2022, 12:22:27 p. m.
    Author     : Programar
*/

.pos-footer{
    position: fixed;
    top:95%;
    left: 0;
    z-index: 9999;

}
